.banner {
    color: #fff;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../../static/banner-1.jpg) no-repeat center center / cover;
    overflow: hidden;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .banner-text {
        position: absolute;
        top: 50%;
        left: 5rem;
        width: 600px;
        transform: translateY(-50%);
        z-index: 1;
        line-height: 1.5;
        color: #fff;
    }

    .banner-text h1 {
        margin-bottom: 1rem;
        line-height: 1;
    }

    .description {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .banner-text h1 {
        font-size: 4rem;
    }

    .tags span {
        display: inline-block;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        background-color: rgba(204, 204, 204, 0.2);
        /* border-radius: 5px; */
        border: 1px solid rgba(204, 204, 204, 0.2);
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 1;
        cursor: pointer;
    }

    .tags span:hover {
        border-color: #fff;
    }

    .book-list {
        position: absolute;
        right: 5rem;
        bottom: 5rem;
        z-index: 1;
    }

    .book {
        margin: 1rem;
        cursor: pointer;
    }

    .book-link {
        width: 250px;
        box-shadow: -10px -10px 20px #000;
        height: 150px;
        border-bottom: 3px solid #1180e1;
        overflow: hidden;
    }

    .book-link img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}