.about-and-books {
    .about-the-author {
        position: relative;
        height: 100vh;
        background: #000 url('../../../static/author.jpg') no-repeat center right / contain;
        padding: 1rem;
        color: #fff;
        line-height: 1.5;
    }

    h1 {
        font-size: 5rem;
        margin: 0;
    }

    .about-jesse {
        position: absolute;
        top: 50%;
        left: 10rem;
        transform: translateY(-50%);
        width: 60%;
    }
}