*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Source Sans Pro", sans-serif;
}

.flex {
    display: flex;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}